<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Barebones Android App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.summerlandsoftware.iot.kindle.MainActivity"
            android:exported="true">   <!-- REQUIRED when there is an intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>

